# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# Idea files
.idea/
*.iml

#selenium
error-screenshots
reference-screenshots

# npm
node_modules/
webpack.config.js
packate*.json
